name: GCToolKit Pre-release Notes

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, '[maven-release-plugin]') != true

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up JDK 11
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      java-version: 11
      distribution: 'microsoft'
      cache: 'maven'
        
    - name: Build with Maven
      run: ./mvnw -B verify --file pom.xml

    - name: Git-release
      run: |
        ./mvnw -B -pl :gctoolkit -Pjreleaser jreleaser:release
      env:
        JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
