name: GCToolKit Pre-release Notes

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, '[maven-release-plugin]') != true

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up JDK 11
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      java-version: 11
      distribution: 'microsoft'
      cache: 'maven'
        
    - name: Build with Maven
      run: ./mvnw -B verify --file pom.xml

    - name: Git-release
      run: |
        ./mvnw -B -pl :gctoolkit -Pjreleaser jreleaser:release
      env:
        JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
