name: Release to GitHub using JReleaser

on:
  workflow_dispatch:

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: main
          fetch-depth: 0

      - name: Cache Maven
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Setup Java JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: '11'
          distribution: 'microsoft'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN

      - name: Configure Git user
        run: |
          git config user.email "noreply@github.com"
          git config user.name "GitHub"
          git config committer.name "GitHub"
            git config committer.email "noreply@github.com"

      - name: Version
        id: version
        run: |
          release_version=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
          release_version=${release_version%-*}
          echo ::set-output name=version::${release_version}

      - name: Git-release
        run: |
          ./mvnw -B versions:set -DnewVersion=${{steps.version.outputs.version}}
          ./mvnw -B -pl :gctoolkit -Pjreleaser jreleaser:release
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
