# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: GCToolKit build with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
        
    - name: Build with Maven
      run: mvn -B package -Pcontributor --file pom.xml --settings $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Generate JaCoCo Badges for core/api
      id: coreApi
      uses: cicirello/jacoco-badge-generator@v2
      with:
        generate-branches-badge: true
        jacoco-csv-file: core/api/target/site/jacoco/jacoco.csv
        coverage-badge-filename: jacoco-api-coverage.svg
        branches-badge-filename: jacoco-api-branches.svg

    - name: Generate JaCoCo Badges for core/parser
      id: coreParser
      uses: cicirello/jacoco-badge-generator@v2
      with:
        generate-branches-badge: true
        jacoco-csv-file: core/parser/target/site/jacoco/jacoco.csv
        coverage-badge-filename: jacoco-parser-coverage.svg
        branches-badge-filename: jacoco-parser-branches.svg

    - name: Generate JaCoCo Badges for core/vertx
      id: coreVertx
      uses: cicirello/jacoco-badge-generator@v2
      with:
        generate-branches-badge: true
        jacoco-csv-file: core/vertx/target/site/jacoco/jacoco.csv
        coverage-badge-filename: jacoco-vertx-coverage.svg
        branches-badge-filename: jacoco-vertx-branches.svg

    - name: Auto Commit the badge (if it changed)
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        branch: ${{ github.base_ref }}
        commit_message: Autogenerated JaCoCo coverage badge
        file_pattern: .github/badges/*.svg
      env:
        GITHUB_TOKEN: ${{ github.token }}
