name: GCToolKit build with Maven

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'    
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [11, 17, 21]

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
      with:
        java-version: ${{ matrix.java }}
        distribution: 'microsoft'
        cache: 'maven'
        
    - name: Build with Maven
      run: ./mvnw -B verify -Dmaven.compiler.release=${{ matrix.java }} --file pom.xml 
